---
import {Image} from 'astro:assets'

const {home, and} = Astro.props

const url = "https://i.postimg.cc/5tBQX08r/IMG-20250331-093730-658.png"
---

<article class="grid grid-cols-2 justify-center py-36 px-20">
  <Image src={url} alt="My Image" width={350} height={350} class="rounded-full object-cover"/>
  <h3 class="text-white text-5xl text-black font-bold py-30" >
  {home}
  <strong class="text-yellow-300">
       Python
    </strong>
    y
  <strong class="text-green-600">
      Node
  </strong>
    {and} 
  <strong class="text-orange-600">
      Astro
  </strong>
    y
  <strong class="text-cyan-400">
      React-js
  </strong>
  </h3>
</article>
