---
import "../styles/global.css"
import "@fontsource-variable/onest"
import Header from '../components/Header.astro';

import es from "../i18n/es"
import en from "../i18n/en"
import type { Language } from "../type/language.type"

export function getStaticPaths () {
  return [{ params: { lang: "en" }}, { params: { lang: "es" }}];
}

export const defaulredirect = "/es";

const lang = Astro.params.lang as Language;
const translations = { es,en }
const t = translations[lang]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
  <body>
    <div class="relative h-full w-full bg-slate-950">
      <div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]">
         <slot />
      </div>
    </div>
  <Header contact={t.header.contact}, about={t.header.about}, project={t.header.project}/>
	</body>
</html>
<style>
	html,
  body {
    font-family: 'Onest', sans-serif;
		margin: 0;
		width: 100%;
    height: 100%;
    background-color:#020618 ;
	}
</style>
